html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background: #16222A; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #16222A , #072D40); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #16222A , #072D40); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

/*Header with glowing text*/
.page-header {
  text-align: center;
  text-overflow: clip;
  text-shadow:  0 0 10px  rgba(158, 202, 237, 0.6),
                0 0 20px  rgba(158, 202, 237, 0.6),
                0 0 40px rgba(86, 180, 239, .7),
                0 0 70px rgba(86, 180, 239, .7),
                0 0 80px rgba(86, 180, 239, .7),
                0 0 100px rgba(86, 180, 239, .7);
}

.board-container .row {
  width: 304px;
  margin: 0 auto;
}

/*Display the cells where player markers will go. Default to small size.*/
.board-container .cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  text-overflow: clip;
  text-shadow:  0 0 10px  rgba(158, 202, 237, 0.6),
                0 0 20px  rgba(158, 202, 237, 0.6),
                0 0 40px rgba(86, 180, 239, .7),
                0 0 70px rgba(86, 180, 239, .7),
                0 0 80px rgba(86, 180, 239, .7),
                0 0 100px rgba(86, 180, 239, .7);
  width: 100px;
  height: 100px;
  font-size: 70px;
}

/*Minor glow on hover to indicate where the player will move*/
.board-container .cell:hover {
  background: radial-gradient(ellipse at center, rgba(158, 202, 237, 0.2) 0%,rgba(158, 202, 237, 0) 60%);
}

/*Expand on large screens*/
@media screen and (min-width: 700px) and (min-height: 800px) {
  .board-container .row {
    width: 604px;
  }
  .board-container .cell {
    width: 200px;
    height: 200px;
    font-size: 140px;
  }
}

/*Borders on middle row and column*/
.board-container .row[data-row="1"] {
  border-top: 2px solid rgba(86, 180, 239, .7);
  border-bottom: 2px solid rgba(86, 180, 239, .7);
}
.board-container .cell[data-col="1"] {
  border-right: 2px solid rgba(86, 180, 239, .7);
  border-left: 2px solid rgba(86, 180, 239, .7);
}

/*Subtle glow effect for grid lines*/
.board-container .row[data-row="0"] {
  box-shadow: 0px 4px 2px -2px rgba(158, 202, 237, 0.6);
}
.board-container .row[data-row="1"] {
  box-shadow: 0px 2px 2px -2px rgba(158, 202, 237, 0.6);
}
.board-container .cell[data-col="0"] {
  box-shadow: 4px 0px 3px -2px rgba(158, 202, 237, 0.6);
}
.board-container .cell[data-col="1"] {
  box-shadow: 2px 0px 3px -2px rgba(158, 202, 237, 0.6);
}

.white {
  background-color: rgba(255, 255, 255, .8);
}
